fastapi
uvicorn
sqlalchemy
pydantic
requests
feedparser
beautifulsoup4
google-genai
groq
python-dotenv
langdetect
spacy
grpcio==1.67.1
grpcio-status==1.67.1
protobuf<6.0.0
crawl4ai
playwright